$orange: #F5AC80;
$white: #fff;
$dark-blue: #2F3A64;
$dark-grey: #0C000A;

body {
    margin: 40px;
    text-align: center;
    background: $dark-blue;
    transition: all .3s;
    color: $white;
    @media screen and (min-width: 900px) {
        margin: 40px 150px;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-column: 1;
    grid-gap: 1px;
    overflow: hidden;
    background-color: $orange;
    border: 1px solid $orange;
    transition: all .3s;
    &.panel-count-even {
        @media (min-width: 540px) {
            grid-template-columns: repeat(2, 1fr);
            grid-column: 2;
        }
    }
    &.panel-count-odd {
        @media (min-width: 540px) and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
             :nth-child(3n) {
                grid-column: 1 / span 2;
            }
        }
        @media (min-width: 769px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &.panel-count-5 {
        @media (min-width: 540px) and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);

             :nth-child(5n) {
                grid-column: 1 / span 2;
            }
        }
        @media (min-width: 769px) {
            grid-template-columns: repeat(12, 1fr);
             :nth-child(-n+2) {
                grid-column: span 6;
            }
             :nth-child(n+3) {
                grid-column: span 4;
            }
        }
    }
}

.box {
    position: relative;
    text-align: left;
    background-color: $dark-grey;
    background-image: url("http://assets.volvocars.com/uk/~/media/shared-assets/master/images/story-telling/volvo-on-call/16_9_volvo_on_call_1.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 150px 50px;
    font-size: 100%;
    transition: all .3s;
    @media (min-width: 540px) and (max-width: 768px) {
        padding: 200px 50px;
    }

    @media (min-width: 769px) {
        padding: 250px 50px;
    }
}

.text {
  position: absolute;
  bottom: 30px;
  left: 30px;
    h2 {
        font-weight: 100;
    }
    p {
        font-weight: 100;
        color: $white;
    }
}